# -*- coding: utf-8 -*-


#python = 3.8.19
pandas 
numpy 
# matplotlib
# seaborn 
scikit-learn 
# xgboost
# catboost 
# selenium 
Flask 
requests 
gunicorn 
# wordcloud
# nltk
# mlflow == 2.17.2

# -e .