<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Science Salary Estimator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pp_style.css')}}">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <h1>Salary Estimator</h1>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <ul>
                <li><a href="https://github.com/Dhanush-Raj1/Data-Science-Salary-Project" target="_blank"><i class="fab fa-github"></i>  Github</a></li>
                <li><a href="">Get in touch</a></li>
            </ul>
        </nav>

        <div class="content-intro">
            <h2>Enter Company Data</h2>
            <p>Enter the company details and get an estimate of your salary</p>
        </div>
    </header>

    <main class="content-main">
        <div class="data-title">
            <h2>Company Details:</h2>
        </div>

        <form action="{{ url_for('predict')}}" method="post" class="predictdata">

            <div class="data-item">
                <label for="Industry">Industry:</label>
                <p>Which industry does the company operate in?</p>  
                <select id="Industry" name="Industry" required>                               
                    <option value="">Select</option>
                    <option value="Information Technology Support Services">Information Technology Support Services</option>
                    <option value="Enterprise Software & Network Solutions">Enterprise Software & Network Solutions</option>
                    <option value="Business consulting">Business consulting</option>
                    <option value="Computer Hardware Development">Computer Hardware Development</option>
                    <option value="Internet & Web Services">Internet & Web Services</option>
                    <option value="Biotech & Pharmaceuticals">Biotech & Pharmaceuticals</option>
                    <option value="Software Development">Software Development</option>
                    <option value="Banking & Lending">Banking & Lending</option>
                    <option value="HR Consulting">HR Consulting</option>
                    <option value="Transportation Equipment Manufacturing">Transportation Equipment Manufacturing</option>
                    <option value="Machinery Manufacturing">Machinery Manufacturing</option>
                </select>
            </div>

            <div class="data-item">
                <label for="Sector">Sector:</label>
                <p>Which sector does the company belong to?</p>
                <select id="Sector" name="Sector" required>
                    <option value="">Select</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Finance">Finance</option>
                    <option value="Management and consulting">Management and consulting</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Pharmaceutical and biotechnology">Pharmaceutical and biotechnology</option>
                    <option value="Human resources and staffing">Human resources and staffing</option>
                </select>
            </div>

            <div class="data-item">
                <label for="Size">Size:</label>
                <p>What is the size of the company's workforce?</p>
                <select id="Size" name="Size" required>
                    <option value="">Select</option>
                    <option value="1 - 50 Employees">1 - 50 Employees</option>
                    <option value="51 - 200 Employees">51 - 200 Employees</option>
                    <option value="201 - 500 Employees">201 - 500 Employees</option>
                    <option value="501 - 1000 Employees">501 - 1000 Employeesy</option>
                    <option value="1001 - 5000 Employees">1001 - 5000 Employees</option>
                    <option value="5001 - 10000 Employees">5001 - 10000 Employees</option>
                    <option value="10000+ Employees">10000+ Employees</option>
                </select>
            </div>

            <div class="data-item">
                <label for="Revenue">Revenue:</label>
                <p>what is the annual revenue of the company?</p>
                <select id="Revenue" name="Revenue" required>
                    <option value="">Select</option>
                    <option value="1 - 5 million ">1 - 5 million</option>
                    <option value="5 - 25 million ">5 - 25 million</option>
                    <option value="25 - 50 million ">25 - 50 million</option>
                    <option value="100 - 500 million ">100 - 500 million</option>
                    <option value="2000 - 5000 million ">2000 - 5000 million</option>
                    <option value="5000 - 10000 million ">5000 - 10000 million</option>
                    <option value="10000+ million ">10000+ million</option>
                </select>
            </div>

            <div class="data-item">
                <label for="Ownership">Ownership:</label>
                <p>What type of ownerhip does the company have?</p>
                <select id="Ownership" name="Ownership" required>
                    <option value="">Select</option>
                    <option value="Company - Private">Company - Private</option>
                    <option value="Company - Public">Company - Public</option>
                    <option value="Private Practice / Firm">Private Practice / Firm </option>
                    <option value="Subsidiary or Business Segment">Subsidiary or Business Segment</option>
                </select>
            </div>

            <div class="data-item">
                <label for="Rating">Rating:</label>
                <p>what is the rating of the company?</p>
                <input type="number" id="Rating" name="Rating" step="1" placeholder="Rating" min="0" required>
            </div>

            <div class="data-item">
                <label for="age">Age:</label>
                <p>What is the company's age as of today?</p>
                <input type="number" id="age" name="age" step="1" placeholder="age" min="0" required>
            </div>

            <div class="data-title">
                <h2>Job Details:</h2>
            </div>

            <div class="data-item">
                <label for="Job_simp">Job title:</label>
                <p>Name of the job you are applying for?</p>
                <select id="Job_simp" name="Job_simp" required>
                    <option value="">Select</option>
                    <option value="data scientist">data scientist</option>
                    <option value="na">na</option>
                    <option value="mle">mle</option>
                    <option value="analyst">analyst</option>
                    <option value="data engineer">data engineer</option>
                    <option value="manager">manager</option>
                    <option value="director">director</option>
                </select>
            </div>

            <div class="data-item">
                <label for="seniority">Seniority level:</label>
                <p>What is the seniority level of the job?</p>
                <select id="seniority" name="seniority" required>
                    <option value="">Select</option>
                    <option value="na">na</option>
                    <option value="senior">senior</option>
                    <option value="jr">jr</option>
                </select>
            </div>

            <div class="data-title">
                <h2>Skills Details:</h2>
                <p>Does the following skills a part of your job?</p>
                <p>0 for No, 1 for Yes</p>
            </div>

            <div class="data-item">
                <label for="python">Python:</label>
                <select id="python" name="python" required>
                    <option value="">Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="data-item">
                <label for="spark">Spark:</label>
                <select id="spark" name="spark" required>
                    <option value="">Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="data-item">
                <label for="aws">Aws:</label>
                <select id="aws" name="aws" required>
                    <option value="">Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="data-item">
                <label for="excel">Excel:</label>
                <select id="excel" name="excel" required>
                    <option value="">Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="data-item">
                <label for="LLMs">LLMs:</label>
                <select id="LLMs" name="LLMs" required>
                    <option value="">Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="data-item">
                <label for="sql">Sql:</label>
                <select id="sql" name="sql" required>
                    <option value="">Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>

            
            <div class="predict-button">
                <button type="submit">Predict</button>
            </div>

        </form>

        {% if result is not none %}
            <section class="result">
                <h1>Prediction Result:</h1>
                <p>{{result_text}} <span>{{result}}</span></p>
            </section>
        {% endif %}
    </main>



    <footer id="contact us" class="footer">
        <p>Contact: info@DSSalaryEstimator.com | 0123-4567</p>
        <p>&copy; 2024 Data Science Salary Estimator. All rights reserved.</p>
    </footer>
</body>
</html>